@charset "UTF-8";
/*Q1 my container 가로사이즈 50% 페이지 정중앙배치 */
.mycontainer {width:50%; margin:2em auto; background-color:#4ab817; padding:20px; border-radius:20px;}
/*Q2 my container h3 왼쪽선, 패딩, 배경색 */
.mycontainer h3 {border-left:9px solid #080e0288; padding: 2em; background:#4ab817;}