/AnimalCharacter.class
/Calc.class
/Calc2.class
/Card.class
/ClassEx001.class
/ClassEx002.class
/ClassEx003.class
/ClassEx003_2.class
/ClassEx004.class
/ClassEx004_2.class
/ClassEx005.class
/ClassEx006.class
/ClassEx007.class
/ClassEx007_2.class
/ClassEx008.class
/Coffee.class
/MyPrice001.class
/Score.class
/Student001.class
/TV.class
